# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go Patch
/vendor/
/Godeps/

# IDE
.idea/

# coverage file
fmtcoverage.html
coverage/

#logs
logs/*

# Environment
.env

# Cassandra folder
data/cassandra/*
.DS_Store

#vscode
.vscode/

#binary
server